/* main디자인 */
#main-wrap {text-align:center;}
/* ===================================================================================1행 ad s */
#ad {position:relative;}
#ad .ad-swiper {}
#ad .ad-swiper .swiper-wrapper {height:580px;}
#ad .ad-swiper .swiper-wrapper .swiper-slide {}
#ad .ad-swiper .swiper-wrapper .ad1 {background:url(../images/main/bg/bg_001.jpg) no-repeat center / cover;}
#ad .ad-swiper .swiper-wrapper .ad2 {background:green;}
#ad .ad-swiper .swiper-wrapper .ad3 {background:skyblue;}
#ad .ad-swiper .swiper-wrapper .ad4 {background:yellow;}
#ad .ad-swiper .swiper-wrapper .ad5 {background:yellowgreen;}
#ad .ad-swiper .swiper-wrapper .ad6 {background:orange;}
#ad .ad-swiper .swiper-wrapper .ad7 {background:pink;}

/* 컨트롤 박스 */
#ad .swiper-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 20px;

    background: rgba(0, 0, 0, 0.6);
    width:128px; height:31px;
    border-radius: 30px;
    z-index: 10;
}

/* Swiper 기본 화살표 제거 */
#ad .swiper-button-prev::after,
#ad .swiper-button-next::after {
    display: none;
}

/* prev 버튼 */
#ad .swiper-button-prev {
    background: url("../images/icon/icon_left.png") no-repeat center;
    cursor: pointer;
}

/* next 버튼 */
#ad .swiper-button-next {
    background: url("../images/icon/icon_right.png") no-repeat center;
    cursor: pointer;
}

/* fraction 페이지네이션 */
#ad .swiper-pagination {
    font-size: 15px;
    color: #fff;
}
#ad .swiper-pagination .swiper-pagination-current,
#ad .swiper-pagination .swiper-pagination-total {
    font-size:15px;
    color: #fff;
}

/* ===================================================================================1행 ad e */